
:root{
    --maincolor:#fe3173;
}

body{


    height: 5000px;
}


.navbar-nav .nav-item a.active{
    color:var(--maincolor);
}
.projects{
    padding: 100px 0;
}
 

.projects .nav-tabs .nav-link.active{
color: var(--maincolor);
font-weight: 700;
}
.projects .nav-tabs .nav-link{
color: var(--maincolor);
}